.Navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.logo{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    width: auto;
    height: 45px;
    object-fit: cover;
    border-radius: var(--border-radius);
    overflow: hidden;
    cursor: pointer;
}
.logo:hover{
    background: rgba(0,0,0,0.1);
}
.logo img{
    width: auto;
    height: 100%;
}
.leffNav{
    display: flex;
    justify-content: right;
    align-items: center;
}
.leffNav a{
    padding: 10px 20px;
    border-radius: var(--border-radius);
}
.leffNav a:hover{
    background: rgba(0,0,0,0.1);
}